@media only screen and (max-width: 600px) { 
    .menu-wrap {
        position: fixed;
        top: 15px;
        left: calc(100vw - 70px);
    }
    .menu-wrap .toggler{
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 59px;
        height: 59px;
        padding: 1rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Hamburger line */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after
    {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    /*Moves line down */
    .menu-wrap .hamburger > div:after {
        top: 10px;
    }
    /* Toggler animate */
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    /* Turn lines into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    /*Rotate on hovering when checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    /*show menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
        opacity: 0.85;
    }
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition: opacity 0.4s;
    }
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .menu > div {
        background: var(--primary-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vw;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu > div > div > ul {
        list-style: none;
    }
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        font-size: 1.5rem;
        padding: 1rem;
        display: block;
        border: none;
    }
    .menu-wrap .menu > div > div > ul > li> a {
        text-decoration: none;
        color: white;
        transition: color 0.4s ease;
        padding: 0;
    }
    .header h1{
        color: var(--primary-color);
        position: relative;
        font-size: 1.3rem;
    }
    .upper-line {
        padding: 0;
        height: 0;
        border: none;
        border-top: 4px solid var(--primary-color);
    }
    .bottom-line {
        padding: 0;
        height: 0;
        width: 100%;
        display: block;
        border-top: 2px solid var(--primary-color);
    }
    .main {
        margin-left: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 1rem;
    }
    .main h2{
        color: var(--primary-color);
        margin: auto;
        flex-basis: 100%;
        font-size: 1.1rem;
    }
    .main h3{
        padding: 0.6rem;
        color: white;
        margin: auto;
        font-weight: lighter;
    }
    .main p{
        margin: 0.5rem;
        margin-bottom: 0;
        text-indent: 1.5em;
        margin-top: 0;
    }
    .inner_70 {
        display: block;
        flex-basis: 100%;
    }
    .inner_60 {
        display: block;
        flex-basis: 100%;
    }
    .inner_30 {
        display: block;
    }
    .rigth-image{
        object-fit: contain;
        margin-right: 0rem;
        border-radius: 10rem;
    }
    .left-image{
        object-fit: contain;
        margin-bottom: 0rem;
        border-radius: 10rem;
    }
    .main ul{
        margin: 0.5rem;
    }
    .contacts {
        list-style-type: none;
    }
    .contacts li{
        padding: 0.5rem;
        font-size: 1.2em;
    }
    .header2{
        max-width: calc(100vw - 70px);;
    }
    .logo {
        width: 50px;
        padding-left: 10px;
    }
    .header h1{
        margin: 1rem 0.5rem;
    }
}
