/* https://medium.com/@stasonmars/вёрстка-на-flexbox-в-css-полный-справочник-e26662cf87e0*/
:root {
    --primary-color: rgba(0, 68, 136, 1);
    --background-color: rgba(255, 255, 255, 1);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: #e5e5e5;
}
.backgroud-container {
    padding: 1rem 0;
    width: 100%;
    height: 6px;
    background-color: #e5e5e5;
}
.container {
    max-width: 960px;
    margin-top: 5px;
    margin: auto;
    overflow: hidden;
    padding: 0;
    background-color: white;
}
.showcase {
    background-color: white;
    color: var(--primary-color);
    position: relative;
}
.header h1{
    color: var(--primary-color);
    position: relative;
    margin: 1rem 3rem;
}
.upper-line {
	padding: 0;
	height: 0;
    border: none;
    background-color: #e5e5e5;
    border-top: 4px solid var(--primary-color);
}
.bottom-line {
    margin: 20px 0;
	padding: 0px;
	border: none;
    border-top: 4px solid var(--primary-color);
}
.main {
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.main h2{
    color: var(--primary-color);
    margin: auto;
    flex-basis: 100%;
    /*display: inline-block;
    flex-basis: 100%;
    margin-bottom: 0;
    text-indent: 1.5em;
    margin-top: 0;*/
}
.main p{
    margin: 0.5rem;
    /*display: inline-block;
    flex-basis: 100%;
    margin-bottom: 0;
    text-indent: 1.5em;
    margin-top: 0;*/
}
.main img{
    object-fit: contain;
    max-width: 30%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.main ul{
    margin: 0.5rem;
    flex-basis: 60%;
}

